/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%)

### Neutral

- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --primary-darkBrown: hsl(14, 45%, 36%);
    --primary-darkRaspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightGray: hsl(30, 18%, 87%);
    --darkGray: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: var(--eggshell);
    margin: auto 0;
    font-family: 'Outfit';
}

article {
    background-color: var(--white);
    border-radius: 20px;
}

.omlette-image { width: 100%; }
h1 {
    font-size: 2.5rem;
    margin: 1rem 0px 10px;
    color: var(--darkCharcoal);
    font-weight: normal;
}
.youngSerifFont {
    font-family: 'Young Serif';
    color: var(--primary-darkBrown);
}
p {
    color: var(--darkGray);
}

.recipe-description, h1 {
    padding: 10px 1rem;
}
.prepRoseWhite {
    background-color: var(--roseWhite);
    padding: 10px 2rem;
    margin: 2rem 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
}
.prepRoseWhite li::marker {
    color: var(--primary-darkRaspberry);
}
.prepRoseWhite ul {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ol li::marker, .ingredients li::marker, .nutrition-amount {
    color: var(--primary-darkBrown);
    font-weight: 600;
}
.ingredients, .instructions, .nutrition {
    padding: 2rem;
}

.nutrition-items {
    border-bottom: .5px solid black;
    margin: 1rem;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--darkGray);
}

.orderedList {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--darkGray);
    
}
.hr {
    height: .5px;
    width: 90%;
    background-color: var(--darkCharcoal);
    margin: 0 auto;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article {
        width: 740px;
        padding: 2rem;
        margin: 7.5rem;
    }
   
   .omlette-image { border-radius: 10px;  }
   .nutrition-items {
        justify-content: space-between;
    }
    .hr {
        width: 100%;
    }
    .orderedList {
        height: 300px;
    }

}
